neko {
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-animation: neko-itch 1s infinite steps(1);
}

@-webkit-keyframes neko-itch {
  0% {
    background: image-url('itch1.gif');
  }
  50% {
    background: image-url('itch2.gif');
  }
  100% {
    background: image-url('itch1.gif');
  }
}
