$neko-names: blue calico gray holiday valentine;
$neko-anims: itch sleep erun wrun sscratch;

// hungry
// sleep
// sick: itch
// playful: sscratch
// idle: random smth else

neko {
  display: inline-block;
  width: 32px;
  height: 32px;
  animation: 0.4s infinite steps(1);

  @each $neko-name in $neko-names {
    &[action=hungry][name=#{$neko-name}] {
      animation-name: 'neko-#{$neko-name}-hungry';
    }

    &[action=still][name=#{$neko-name}] {
      animation-name: 'neko-#{$neko-name}-still';
    }

    &[action=idle][name=#{$neko-name}] {
      animation-name: 'neko-#{$neko-name}-still';
    }

    &[action=playful][name=#{$neko-name}] {
      animation-name: 'neko-#{$neko-name}-sscratch';
    }

    &[action=sick][name=#{$neko-name}] {
      animation-name: 'neko-#{$neko-name}-itch';
    }

    @each $anim in $neko-anims {
      &[action=#{$anim}][name=#{$neko-name}] {
        animation-name: 'neko-#{$neko-name}-#{$anim}';
      }
    }
  }
}

@each $neko-name in $neko-names {
  @each $anim in $neko-anims {
    @keyframes neko-#{$neko-name}-#{$anim} {
      0% {
        background: image-url('#{$neko-name}/#{$anim}1.gif');
      }

      50% {
        background: image-url('#{$neko-name}/#{$anim}2.gif');
      }

      100% {
        background: image-url('#{$neko-name}/#{$anim}1.gif');
      }
    }
  }

  @keyframes neko-#{$neko-name}-hungry {
    0% {
      background: image-url('#{$neko-name}/alert.gif');
    }

    50% {
      background: image-url('#{$neko-name}/yawn.gif');
    }

    100% {
      background: image-url('#{$neko-name}/still.gif');
    }
  }

  @keyframes neko-#{$neko-name}-still {
    0% {
      background: image-url('#{$neko-name}/still.gif');
    }

    50% {
      background: image-url('#{$neko-name}/still.gif');
    }

    100% {
      background: image-url('#{$neko-name}/still.gif');
    }
  }
}
