= stylesheet_link_tag :index
-# = javascript_include_tag :index

%neko{action: 'hungry'}
%neko{action: 'sleep'}
%neko{action: 'itch'}
%neko{action: 'sscratch'}
%neko{action: 'still'}
%neko{action: 'erun'}
%neko{action: 'wrun'}
