= stylesheet_link_tag :index
= javascript_include_tag :index

%neko{action: 'hungry', name: 'blue'}
%neko{action: 'sleep', name: 'blue'}
%neko{action: 'itch', name: 'blue'}
%neko{action: 'sscratch', name: 'blue'}
%neko{action: 'still', name: 'blue'}
%neko{action: 'erun', name: 'blue'}
%neko{action: 'wrun', name: 'blue'}

%neko{action: 'hungry', name: 'valentine'}
%neko{action: 'sleep', name: 'valentine'}
%neko{action: 'itch', name: 'valentine' }
%neko{action: 'sscratch', name: 'valentine'}
%neko{action: 'still', name: 'valentine'}
%neko{action: 'erun', name: 'valentine'}
%neko{action: 'wrun', name: 'valentine'}

%neko{action: 'hungry', name: 'calico'}
%neko{action: 'sleep', name: 'calico'}
%neko{action: 'itch', name: 'calico' }
%neko{action: 'sscratch', name: 'calico'}
%neko{action: 'still', name: 'calico'}
%neko{action: 'erun', name: 'calico'}
%neko{action: 'wrun', name: 'calico'}

%neko{action: 'hungry', name: 'gray'}
%neko{action: 'sleep', name: 'gray'}
%neko{action: 'itch', name: 'gray' }
%neko{action: 'sscratch', name: 'gray'}
%neko{action: 'still', name: 'gray'}
%neko{action: 'erun', name: 'gray'}
%neko{action: 'wrun', name: 'gray'}

%neko{action: 'hungry', name: 'holiday'}
%neko{action: 'sleep', name: 'holiday'}
%neko{action: 'itch', name: 'holiday' }
%neko{action: 'sscratch', name: 'holiday'}
%neko{action: 'still', name: 'holiday'}
%neko{action: 'erun', name: 'holiday'}
%neko{action: 'wrun', name: 'holiday'}
