= stylesheet_link_tag :index
-# = javascript_include_tag :index

%neko{action: 'hungry', name: 'blue'}
%neko{action: 'sleep', name: 'blue'}
%neko{action: 'itch', name: 'blue'}
%neko{action: 'sscratch', name: 'blue'}
%neko{action: 'still', name: 'blue'}
%neko{action: 'erun', name: 'blue'}
%neko{action: 'wrun', name: 'blue'}

%neko{action: 'hungry', name: 'valentine'}
%neko{action: 'sleep', name: 'valentine'}
%neko{action: 'itch', name: 'valentine' }
%neko{action: 'sscratch', name: 'valentine'}
%neko{action: 'still', name: 'valentine'}
%neko{action: 'erun', name: 'valentine'}
%neko{action: 'wrun', name: 'valentine'}
